.friend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
}

.avatar {
  width: 65px;
}

.name {
  margin-top: 5px;
  font-size: 18px;
}

.online {
  color: green;
  font-size: 14px;
}

.offline {
  color: red;
  font-size: 14px;
}
